#whyOrion {
    width: 100%;
    height: 108rem;
    max-width: 1920px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    .whyOrion__container {
        width: 131rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .whyOrion__title-contain {
            width: 58rem;

            .whyOrion__icon {
                width: 13rem;
                margin-bottom: 1.2rem;
            }

            .whyOrion__title {
                @include text-settings(
                    4.2rem,
                    4.4rem,
                    'arp_bold',
                    var(--dark-title-color)
                );

                span {
                    color: var(--main-color);
                }
            }
        }

        .whyOrion__info {
            position: relative;
            max-width: 61.2rem;

            border: 1px solid black;
            padding: 4rem;
            border-radius: 3rem;

            .whyOrion__text {
                @include text-settings(
                    2.4rem,
                    2.2rem,
                    'Aceh',
                    var(--dark-text-color)
                );
            }

            a {
                text-decoration: none;

                .whyOrion__button {
                    @include text-settings(
                        3.2rem,
                        3.2rem,
                        'arp_bold',
                        var(--light-title-color)
                    );
                    background-color: var(--main-color);
                    margin-top: 2.4rem;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    width: 100%;
                    border: none;
                    padding: 2.2rem 0;

                    &::after {
                        @include text-settings(
                            1em,
                            1em,
                            'arp_bold',
                            var(--light-title-color)
                        );
                        content: 'Saiba mais';
                        transition: all 0.7s;
                        position: absolute;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        top: 0;
                        left: 0;
                        z-index: 2;
                        opacity: 0;

                        width: 100%;
                        height: 100%;

                        background: linear-gradient(
                            to right,
                            #533fc4,
                            #8529b0,
                            #533fc4,
                            #8529b0,
                            #533fc4,
                            #8529b0,
                            #533fc4
                        );
                        background-size: 1200% 100%;

                        animation: infinit 10s ease infinite forwards;
                        -webkit-animation: infinit 10s ease-in-out infinite
                            forwards;
                        -moz-animation: infinit 10s ease infinite forwards;
                    }

                    &:hover::after {
                        opacity: 1;
                    }
                }
            }

            .whyOrion__decorator {
                z-index: -1;
                width: 40rem;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate3d(50%, 75%, 0);

                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .whyOrion__circle {
                    width: 20rem;
                    height: 20rem;
                    background-color: var(--light-main-color);

                    border-radius: 50%;
                    filter: blur(50px);

                    &:nth-child(odd) {
                        background-color: #a74af0;
                    }

                    &:nth-child(1) {
                        transform: translateX(10%);
                    }

                    &:nth-child(2) {
                        transform: translateX(-10%);
                        z-index: 2;
                    }

                    &:nth-child(3) {
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #whyOrion {
        .whyOrion__container {
            flex-direction: column;

            .whyOrion__title-contain {
                margin-bottom: 4rem;
            }
        }
    }
}

@media (max-width: 425px) {
    #whyOrion {
        .whyOrion__container {
            width: 80%;

            .whyOrion__title-contain {
                width: 100%;

                .whyOrion__icon {
                    width: 13rem;
                    margin-bottom: 1.2rem;
                }

                .whyOrion__title {
                    @include text-settings(
                        3.2rem,
                        3.4rem,
                        'arp_bold',
                        var(--dark-text-color)
                    );
                }
            }

            .whyOrion__info {
                max-width: 61.2rem;
                border: 1px solid black;
                padding: 4rem;
                border-radius: 3rem;
            }
        }
    }
}
