@font-face {
    font-family: arp_normal;
    src: url('../assets/fonts/arp-80.ttf');
}

@font-face {
    font-family: arp_bold;
    src: url('../assets/fonts/arp-150.ttf');
}

@font-face {
    font-family: arp_display_normal;
    src: url('../assets/fonts/arpdisplay-80.ttf');
}

:root {
    --main-color: #543FC4;
    --light-main-color: #D94AF0;
    --dark-main-color: #1C1542;
    --dark-title-color: #000000;
    --light-title-color: #ffffff;
    --dark-text-color: #000000;
    --light-text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}


@mixin text-settings( $size, $line-heigth, $family, $color ) {
    font-size: $size;
    line-height: $line-heigth;
    font-family: $family;
    color: $color;
    text-decoration: none;
}

@media (max-width: 1536px) {
    html {
        font-size: 46.875%;
    }
}

@media (max-width: 1172px) {
    html {
        font-size: 35.1562%;
    }
}

@media (max-width: 900px) {
    
}