#contact {
    width: 100%;
    height: 52.5rem;
    max-width: 1920px;
    background-color: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: center;

    #contact__container {
        width: 118rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #contact__img {
            width: 50.5rem;
            margin-top: 1rem;
        }

        #contact__info {
            width: 62.4rem;

            #contact__title {
                @include text-settings(
                    3.6rem,
                    3.6rem,
                    'arp_bold',
                    var(--light-title-color)
                );
            }

            #contact__text {
                @include text-settings(
                    3.6rem,
                    2.4rem,
                    'Aceh',
                    var(--light-title-color)
                );
                margin: 2rem 0;
            }

            #contact__button {
                cursor: pointer;
                transition: all 0.7s ease-in;
                @include text-settings(
                    3.2rem,
                    3.2rem,
                    'arp_bold',
                    var(--light-title-color)
                );
                border: 1px solid white;
                padding: 1rem 10rem;
                background-color: transparent;

                &:hover {
                    box-shadow: 0.1rem 0.1rem 1rem 0 hsla(249, 52%, 17%, 0.253),
                        -0.1rem -0.1rem 1rem 0 hsla(249, 52%, 17%, 0.253),
                        -0.2rem -0.2rem 1rem 0 hsla(249, 52%, 17%, 0.253);
                    border: 0.1rem solid #1c1542;
                    color: #1c1542;
                    text-shadow: 0.1rem 0.1rem 1rem hsla(249, 52%, 17%, 0.253),
                        0.2rem 0.2rem 1rem hsla(249, 52%, 17%, 0.253);
                }
            }
        }
    }
}

@media (max-width: 740px) {
    #contact {
        height: 500px;

        #contact__container {
            flex-direction: column;
        }
    }
}
@media (max-width: 380px) {
    #contact {
        #contact__container {
            #contact__info {
                width: 300px;
            }
        }
    }
}
