#forWhom {
    width: 100%;
    height: 108rem;
    max-width: 1920px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .forWhom__container {

        .forWhom__title {
            @include text-settings( 4rem, 4rem, 'arp_bold', var(--dark-title-color));

            span {
                color: var(--main-color);
            }
        }

        .forWhom__itens-contain {
            width: 136rem;

            margin: 6rem 0 4rem 0;
            display: flex;
            justify-content: space-between;

            .forWhom__itens {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: start;

                border: 1px solid black;
                border-radius: 2.4rem;
                padding: 6rem 6rem 0rem 6rem;
                width: 40rem;
                height: 40rem;

                .forWhom__itens-title {
                    @include text-settings( 2rem, 2rem, 'arp_bold', var(--main-color));
                    margin-bottom: 4rem;
                }

                .forWhom__text {
                    @include text-settings( 2.4rem, 2.4rem, 'Aceh', var(--dark-title-color));
                }
            }
        }

        a {
            text-decoration: none;

            .forWhom__button {
                @include text-settings( 2.4rem, 2.4rem, 'arp_bold', var(--light-title-color));
                background-color: var(--main-color);
                margin-top: 2.4rem;
                cursor: pointer;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                position: relative;
                border: none;
                padding: 2.8rem 12rem;

                &::after {
                    @include text-settings( 1em, 1em, 'arp_bold', var(--light-title-color));
                    content: 'Saiba mais';
                    transition: all .7s;
                    position: absolute;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    top:0; left: 0;
                    z-index: 2;
                    opacity: 0;

                    width: 100%;
                    height: 100%;

                    background: linear-gradient(to right, #533fc4, #8529b0, #533fc4, #8529b0, #533fc4, #8529b0, #533fc4);
                    background-size: 1200% 100%;
                    
                    animation: infinit 10s ease infinite forwards;
                    -webkit-animation: infinit 10s ease-in-out infinite forwards;
                    -moz-animation: infinit 10s ease infinite forwards;
                }

                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 840px) {
    #forWhom {
        height: 960px;

        .forWhom__container {

            .forWhom__itens-contain {
                width: 40rem;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}