#header {
    font-size: 10px;
    width: 100%;
    height: 8.6rem;

    transition: background .4s;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    
    position: fixed;
    z-index: 1000;
    top: 0;
    margin: auto;
    
    .header__container {
        width: 145.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            cursor: pointer;
            width: 17.5rem;

            transition: all 1s cubic-bezier(.32,1.75,.36,.67);
            transform: translateY(-100%);
            opacity: 0;
        }
    
        .header__navbar {
    
            .header__list {
                display: flex;
    
                .header__links {
                    cursor: pointer;
                    position: relative;
                    transition: all .4s;
                    list-style: none;

                    transition: all 1s cubic-bezier(.32,1.75,.36,.67);
                    transform: translateY(-100%);
                    opacity: 0;

                    &::after {
                        @include text-settings( 1.7rem, 1.7rem, 'arp_display_normal', var(--light-text-color));
                        content: attr(datatype);
                        transition: all .7s;
                        position: absolute;

                        width: 0%;
                        height: 100%;
                        background: linear-gradient(225deg, var(--main-color), var(--dark-main-color)); 
                        font-weight: 800;

                        left: 0; top: 0;
                        z-index: -1;

                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover a {
                        color: transparent;
                    }

                    &:nth-child(-n+3) {
                        margin-right: 4rem;
                    }
    
                    a {
                        transition: all .7s;
                        @include text-settings( 1.7rem, 1.7rem, 'arp_display_normal', var(--light-text-color));
                        text-decoration: none;
                    }
                }
            }

            .header__menu {
                transition: all .6s;
                width: 6rem;
                height: 4rem;
                cursor: pointer;

                display: none;
                flex-direction: column;
                justify-content: space-between;
                
                .header__menu-lines {
                    flex-shrink: 0;
                    width: 100%;
                    height: 0.4rem;
                    background-color: var(--dark-main-color);
                }
            }
        }

        .header__button-link {
            transition: all 1s cubic-bezier(.32,1.75,.36,.67);
            transform: translateY(-100%);
            opacity: 0;
    
            .header__button {
                @include text-settings( 2.2rem, 2.2rem, 'arp_display_normal', var(--light-text-color));
                transition: all .7s ease-in;
                cursor: pointer;
                
                border: 0.1rem solid white;
                border-radius: 0.5rem;

                padding: 1.4rem 3.2rem;
                background-color: transparent;

                &:hover {
                    box-shadow: 0.1rem 0.1rem 1rem 0  hsla(249, 53%, 51%, 0.253),
                    -0.1rem -0.1rem 1rem 0  hsla(249, 53%, 51%, 0.253),
                    -0.2rem -0.2rem 1rem 0  hsla(249, 53%, 51%, 0.253)
                    ;
                    border: 0.1rem solid #543FC4;
                    color: #543FC4;
                    text-shadow: 0.1rem 0.1rem 1rem hsla(249, 53%, 51%, 0.253),
                    0.2rem 0.2rem 1rem hsla(249, 53%, 51%, 0.253);
                }
            }
        }

        #header--animation {
            transform: translate(0) scale(1);
            opacity: 1;
        }
    }
}

.header--background {
    background-color: hsla(0, 0%, 24%, 0.801);
    backdrop-filter: blur(5px);
}

@media (max-width: 900px) {
    #header {

        .header__container {
            width: 80%;

            .header__navbar {
                order: 3;

                .header__list {
                    display: none;
                    
                    .header__links {
                        padding: 6rem 0;

                        &:hover a {
                            color: var(--dark-main-color);
                        }

                        &::after {
                            display: none;
                        }
                    
                        &:nth-child(-n+3) {
                            margin-right: 0;
                        }

                        a {
                            @include text-settings( 3rem, 3rem, 'arp_display_normal', var(--light-text-color));
                        }
                    }
                }

                .header__list--appearance {
                    position: absolute;
                    left: 0; top: 0;
                    overflow: hidden;

                    width: 100vw;
                    height: 100vh;
                    background: linear-gradient(225deg, var(--main-color), var(--dark-main-color)); 

                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .header__links {

                        &::after {
                            display: block;
                        }
                    }
                }

                .header__menu {
                    display: flex;
                }

                .header__menu--animation {
                    position: absolute;
                    right: 6rem; top: 2rem;
                    z-index: 101;

                    .header__menu-lines {
                        transition: all 1s;
                        background-color: white;
    
                        &:nth-child(1) {
                            display: none;
                        }
    
                        &:nth-child(2) {
                            position: absolute;
                            bottom: 7px;
                            transform: rotateZ( -225deg );
                        } 
    
                        &:nth-child(3) {
                            position: absolute;
                             bottom: 7px;
                            transform: rotateZ( 45deg );
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 426px) {
    #header {

        .header__container { 
            
            .header__button {
                display: none;
            }
        }
    }
}

@keyframes anime {
    0% {
        width: 1px;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@-moz-keyframes anime {
    0% {
        width: 1px;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@-webkit-keyframes anime {
    0% {
        width: 1px;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}