#services {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1920px;
    height: 108rem;

    #services__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        #services__info {
            margin-bottom: 6rem;
            text-align: center;

            #services__icon {
                width: 13rem;
            }

            #services__title {
                @include text-settings( 4.2rem, 4.2rem, 'arp_bold', var(--light-title-color));
                margin: 3.4rem 0 2rem 0;
            }

            #services__text {
                @include text-settings( 3.2rem, 3.2rem, 'Aceh', var(--light-text-color));
                width: 67rem;
            }
        }

        #services__topics {
            display: flex;
            width: 145.1rem;
            height: 28.1rem;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 1rem;

            .services__topics-itens {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 47.6rem;
                background: linear-gradient(to right, var(--main-color) -50%, white);
                padding: 5.4rem;
                width: 100%;
                @include text-settings( 2.8rem, 2.8rem, 'arp_bold', var(--main-color));
            }
        }
    }
}

@media (max-width: 900px) {
    #services {
    
        #services__container {
    
            #services__topics {
                justify-content: center;
                column-gap: 1rem;
                width: 80%;
                height: auto;
            }
        }
    }
}

@media (max-width: 676px) {
    #services {
        height: 800px;
    
        #services__container {
    
            #services__topics {
                justify-content: center;
                column-gap: 1rem;
                width: 80%;
                height: auto;
            }
        }
    }
}

@media (max-width: 425px) {
    #services {
        
        #services__container {
            width: 80%;
    
            #services__info {

                #services__title {
                    @include text-settings( 3.2rem, 3.2rem, 'arp_bold', var(--light-title-color));
                }

                #services__text {
                    @include text-settings( 2rem, 2rem, 'Aceh', var(--light-title-color));
                    width: 100%;
                }
            }

            #services__topics {
                width: 100%;
            }
        }
    }
}