#error {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    background-color: var(--dark-main-color);
    padding: 20.6rem 0 12rem 0;

    #error__container {
        position: relative;
        height: 70rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        #error__logo {
            width: 30.3rem;
            z-index: 2;
        }

        #error__img {
            position: absolute;
            top: -40%;
            width: 108rem;
        }

        #error__button {
            @include text-settings(
                3.2rem,
                3.2rem,
                'Aceh',
                var(--light-text-color)
            );
            transition: all 0.4s;
            cursor: pointer;
            z-index: 2;

            padding: 2.4rem 4rem;
            border: none;
            border-radius: 1.2rem;
            background-color: var(--main-color);

            &:hover {
                transform: translate3d(-0.5rem, -0.5rem, 0);
                box-shadow: 0.7rem 0.8rem 0.4rem 0 hsla(0, 0%, 0%, 0.253);
            }
        }
    }
}

@media (max-width: 620px) {
    #error {
        #error__container {
            #error__img {
                top: 4rem;
                width: 55.5rem;
            }
        }
    }
}
